body {
    color: #f7f7f7;
}
.jumbotron {
    background-image: url("../images/original_art/jumbotron.JPG");
    background-size: 100% 100%;
    text-align: center;
}

.container2 {
    position: relative;
    width: 100%;
}

.container-override {
    position: relative;
    width: 100%;
    background-color: rgb(112, 0, 0);
}
  
.image {
    display: block;
    width: 100%;
    height: 100%;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(126, 126, 126);
}
  
.container2:hover .overlay {
    opacity: 1;
}
  
.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 70%;
    -webkit-transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin-left: -20%;
    margin-right: -20%;
}
.subtext {
    color: rgb(255, 255, 255);
    font-size: 14px;
    position: absolute;
    top: 55%;
    left: 20%;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-13%, -38%);
    text-align: center;
}

.scoretext {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 20%;
    -webkit-transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
    transform: translate(-13%, -38%);
    text-align: left;
}